@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #7a7a7a;
  --color-slate-300: #696969;
  --color-slate-400: #575757;
  --color-slate-500: #464646;
  --color-slate-600: #343434;
  --color-slate-700: #232323;
  --color-slate-800: #111111;
  --color-slate-900: #000000;
  --color-slate-950: #000000;

  --font-sans: 'Outfit', sans-serif;
}

@source "../../index.html";
@source "../js/**/*.js";
