@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #1c233d;
  --color-slate-800: #0d1127;
  --color-slate-900: #060814;
  --color-slate-950: #03040b;

  --font-sans: 'Outfit', sans-serif;
}

@source "../../index.html";
@source "../js/**/*.js";
